<div *ngIf="!resetPasswordActive" class="container">
  <div>
    <label for="email">Enter your Email:</label>
  </div>
  <div>
    <input type="text" id="email" name="email" [(ngModel)]="email" required>
  </div>
  <button (click)="forgotPassword(email)">Send email</button>
</div>
<div *ngIf="resetPasswordActive" class="container">
  <div>
    <label for="newPassword">Create new password:</label>
  </div>
  <div>
    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
  </div>
  <button (click)="resetPassword(userId, resetPasswordToken, newPassword)">Create password</button>
</div>
