<div class="channel-box">
    <div class="channel">
        <header class="section">
            <img src="https://wallpapercave.com/wp/wp2550666.jpg">
            <div class="info">
                <div class = "title">My title!</div>
                <div class = "subscribers"> 12.1020 subscribers</div>
            </div>
        </header>
        <div class="section">
            <div class="links">
                <div class = "tusername">Tusername</div>
                <div class = "global-link">pgpgp/global-link</div>
            </div>
        </div>
        <div class = "about section">A LOT OF VERY IMPORTANT INFORMATION.....</div>
    </div>    
</div>