/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e7dcff;
    /* Reset margin to 0 to avoid spacing issues */
  }
